@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Created By Light Company - Use it Free !</p>

<h2>SEP Steps</h2>
<ol>
    <li>Get Token Request</li>
    <li>Get Token As String</li>
    <li>Redirect To PG With Token : 
        <ul>
            <li>Get : https://sep.shaparak.ir/OnlinePG/SendToken?token=XXXX</li>
            <li>Post: https://sep.shaparak.ir/OnlinePG/OnlinePG</li>
        </ul>
    </li>
    <li>Get Pay Response</li>
    <li>Check RefNum ( Disable Double Spending )</li>
    <li>Verify Transaction Request POST : https://sep.shaparak.ir/verifyTxnRandomSessionkey/ipg/VerifyTransaction </li>
    <li>
        Verify Transaction Response
        <ul>
            <li>Success : Response = Amount</li>
            <li>Error   : Response < 0 </li>
            <li>Error   : Response != Amount</li>
        </ul>
    </li>
    <li>Reverse if Need POST https://sep.shaparak.ir/verifyTxnRandomSessionkey/ipg/ReverseTransaction</li>
</ol>