@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Created By Light Company - Use it Free !</p>

<h2>SEP Steps</h2>
<ol>
    <li>Get Token Request</li>
    <li>Get Token As String</li>
    <li>Redirect To PG With Token : 
        <ul>
            <li>Get : https://sep.shaparak.ir/OnlinePG/SendToken?token=XXXX</li>
            <li>Post: https://sep.shaparak.ir/OnlinePG/OnlinePG</li>
        </ul>
    </li>
    <li>Get Pay Response</li>
    <li>Check RefNum ( Disable Double Spending )</li>
    <li>Verify Transaction Request</li>
    <li>Verify Transaction Response</li>
    <li></li>
    <li></li>
</ol>